<div class="flex">
    <div class="m-auto">
        <mat-card>
            <mat-card-title>
                Login Here
            </mat-card-title>

            <mat-card-subtitle>
                Enter your email and password to login.
            </mat-card-subtitle>

            <mat-card-content>
                <form action="">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email"
                            placeholder="Enter your email" required />
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password"
                            placeholder="Enter your password" required />
                    </mat-form-field>
                </form>
            </mat-card-content>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <button (click)="login()" color="accent" type="submit"
                    mat-raised-button>
                    <mat-spinner *ngIf="isLoading" diameter="35"></mat-spinner>
                    <span *ngIf="!isLoading">Login</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
