<mat-grid-list cols="3" gutterSize="5">
    <mat-grid-tile>
        <app-single-blog></app-single-blog>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-single-blog></app-single-blog>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-single-blog></app-single-blog>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-single-blog></app-single-blog>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-single-blog></app-single-blog>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-single-blog></app-single-blog>
    </mat-grid-tile>
</mat-grid-list>
